# Firebase Configuration (Automatically injected by system)
# GEMINI_API_KEY=

# Google Drive Integration
# JSON content of your Service Account Key
GOOGLE_DRIVE_CREDENTIALS=

# Asaas Direct Integration Settings
# Preencha com sua Chave de API de Produção ou Sandbox
ASAAS_API_KEY=
# Define o ambiente: 'production' para real ou 'sandbox' para ambiente de testes
ASAAS_ENVIRONMENT=sandbox
